@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline-color: var(--blue);
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --blue: #4A6BFF;
    --light-blue: #91a5fd;
    --dark-blue: #203385;
    --white: #ffffff;
    --black: #3D3D3D;
    --gray: #f5F5F5;
    --dark-gray: #646464;
    --darker-gray: #b8b8b8;
    --red: rgb(235, 57, 57);
}

h3 {
    font-size: 14px;
}

.nav {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: solid 3px var(--gray);
    animation: opacIn ease 0.3s;
}

.nav .ctn {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav .ctn * {
    margin-top: auto;
    margin-bottom: auto;
}

.nav .ctn img {
    margin-right: 20px;
}

.nav .social {
    margin-right: 0;
}

.social {
    width: 100px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
}

.social img {
    width: 50px;
    height: 50px;
}

.diapo {
    display: block;
    width: 100%;
    height: 600px;
}

.diapo .carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: black;
    scroll-behavior: smooth;
}

.diapo .carousel img {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    transform: scale(1.01);
    transition: 0.3s ease;
}

.diapo:hover .carousel .carousel-item img {
    opacity: 1;
    filter: none;
}

.diapo:hover .mainText {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.3;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(-0px);
    }
}

@keyframes opacIn {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.diapo .mainText {
    color: white;
    position: relative;
    top: -600px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    animation: fadeIn 1s;
    background-color: rgba(0, 0, 0, 0.3);
}

.diapo .mainText .ctn {
    margin: auto;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.diapo .mainText .ctn * {
    margin: auto;
    text-align: center;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.diapo .mainText .ctn img {
    transform: scale(1.5);
}

.menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray);
    border-top: solid 2px var(--blue);
    animation: opacIn 1s;
}

.menu a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
    display: flex;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.menu a p {
    width: auto;
    display: flex;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}

.menu a:hover {
    color: white;
    background-color: var(--blue);
}

.menu a:active {
    color: var(--gray);
    background-color: var(--dark-blue);
}

.bk-blue {
    background-color: var(--blue);
}

.co-dark-gray {
    color: var(--dark-gray);
}

.co-gray {
    color: var(--darker-gray);
}

.co-dark-blue {
    color: var(--dark-blue);
}

.co-blue {
    color: var(--blue);
}

.co-red {
    color: var(--red);
}

.co-white {
    color: white;
}

.bld {
    font-weight: bold;
}

.lgt {
    font-weight: normal;
}

.t-c {
    text-align: center;
}

.t-small {
    font-size: 12px;
}

.nowhitespace::before {
    content: none;
}

.content {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 80px;
}

.articleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article {
    width: 250px;
    height: 365px;
    border: solid 3px var(--gray);
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.article:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.article * {
    margin: auto;
    margin-top: 0;
    width: 85%;
    margin-bottom: 15px;
}

.article img {
    width: 100%;
    height: 40%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.article h3 {
    font-size: 20px;
}

.article p {
    font-size: 14px;
    overflow: hidden;
    height: 150px;
    white-space: normal;
    color: var(--dark-gray);
    text-overflow: ellipsis;
}

.article a {
    text-decoration: underline;
    color: var(--blue);
    transition: 0.3s;
}

.article a:hover {
    color: var(--dark-blue);
}

.article a p {
    height: auto;
    color: inherit;
    width: 100%;
}

.pages {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
}

.pages * {
    margin-right: 15px;
}

.pages a {
    color: var(--blue);
    text-decoration: underline;
}

.pages a:hover {
    color: var(--dark-blue);
}

.footer {
    width: 100%;
    height: 200px;
    display: grid;
    color: white;
    border-top: solid 3px var(--blue);
    grid-template-columns: 30% 40% 30%;
    background-color: var(--dark-blue);
}

.footer .links {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer .links a {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: white;
    text-decoration: underline;
}

.footer .links a:hover {
    color: var(--blue);
}

.footer .social {
    display: flex;
}

.footer .social * {
    margin: 5px;
}

.social a img {
    width: 30px;
    height: 30px;
}

.footer * {
    margin: auto;
}

.presentation {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 100px;
}

.presentation .text {
    width: 65%;
}

.presentation .text p {
    width: 75%;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 25px;
}

.presentation .textp p:before {
    content: "\00a0 \00a0 \00a0 \00a0 ";
}

.presentation .imgs {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.presentation .imgs img {
    width: 100%;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
    display: flex;
    animation: fadeIn 1s ease;
    margin-bottom: 10px;
}

.presentation .imgs2 {
    width: 30%;
    display: flex;
    position: relative;
    top: -100px;
    flex-direction: column;
}

.presentation .imgs2 img {
    width: 100%;
    border-radius: 5px;
    height: 500px;
    object-fit: cover;
    display: flex;
    animation: fadeIn 1s ease;
}

.presentation .text form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: fadeIn 1s;
}

.presentation .text form * {
    width: 500px;
    max-height: 80%;
    height: 45px;
    margin: 15px;
}

.presentation .text form input {
    border: solid 2px var(--light-blue);
    border-radius: 5px;
    color: var(--blue);
    font-size: 14px;
    font-weight: normal;
    transition: 0.3s ease;
    padding-left: 15px;
    margin-left: 15px;
}

.presentation .text form button {
    width: 515px;
    height: 50px;
}

.presentation .text form input::placeholder {
    color: var(--light-blue);
    font-weight: normal;
}

.presentation .text form input:focus {
    outline-color: var(--blue);
    font-weight: bold;
    padding-left: 15px;
    transform: scale(1.05);
}

button {
    border: none;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--dark-blue);
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
    transform: scale(1.05);
}